<p id="notice"><%= notice %></p>

<h1><%= @store.name %></h1>

<%= image_tag @store.store_picture if @store.store_picture.attached? %>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @store.user.firstname %>

<p>
  <strong>Email:</strong>
  <%= @store.email %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @store.contact_number %>
</p>

<h2>Review</h2>
<p>
  <strong>User:</strong><br>
  <%= @store.feedbacks.last %><br>
  <strong>Review:</strong><br>
  <%= @store.feedbacks.last %>
</p>
<% if can? :write, @feedback %>
  <%= link_to 'Add Review', new_feedback_path(:store_id => @store.id, :user_id => current_user.id) %>
<% end %>

<h2>Cheeses</h2>
<table>
  <% @store.cheeses.each do |cheese| %>
    <tr>
      <td> <strong>Name:</strong><br><%= link_to cheese.name, cheese_path(cheese.id) %> </td>
      <td> <strong>Description:</strong><br><%= cheese.description %> </td>
      <td> <strong>Price:</strong><br>$<%= cheese.price.round(2) %> </td>
      <td> <strong>Rennet:</strong><br><%= cheese.rennet_coagulat %> </td>
      <td> <strong>Location:</strong><br><%= cheese.location %> </td>
      <td> <strong>Type:</strong><br><%= cheese.cheese_type %> </td>
      <td> <strong>Rind:</strong><br><%= cheese.rind %> </td>
      <td> <strong>Milk:</strong><br><%= cheese.milk %> </td>
      <td> <strong>Size:</strong><br><%= cheese.size %> </td>
      <td> <strong>How Many Available:</strong><br><%= cheese.availability %> </td>
    </tr>
  <% end %>
</table>
<br>
<% if can? :edit, @store %>
  <%= link_to 'Edit', edit_store_path(@store) %> |
  <%= link_to 'Add Product', new_cheese_path(:store_id => @store.id) %>
<% end %>