<p id="notice"><%= notice %></p>
<div class="wrapper">
  <div class="sidebar">
    <h1><%= @store.name %></h1>

    <%= image_tag @store.store_picture if @store.store_picture.attached? %>

    <p>
      <strong>Name:</strong>
      <%= @store.name %>
    </p>

    <p>
      <strong>Owner:</strong>
      <%= @store.user.firstname %>

    <p>
      <strong>Email:</strong>
      <%= @store.email %>
    </p>

    <p>
      <strong>Contact number:</strong>
      <%= @store.contact_number %>
    </p>
  </div>
  <div class="content">
    <h2>Cheeses</h2>
    <div class="container">
      <% @store.cheeses.each do |cheese| %>
        <div class="flexboxes">
          <%= image_tag cheese.item_picture if cheese.item_picture.attached? %>
          <p><%= link_to cheese.name, cheese_path(cheese.id) %></p>
          <p><%= cheese.description %></p>
          <p>$<%= cheese.price.round(2) %></p>
          <p><%= cheese.rennet_coagulat %></p>
          <p><%= cheese.location %></p>
          <p><%= cheese.cheese_type %></p>
          <p><%= cheese.rind %></p>
          <p><%= cheese.milk %></p>
          <p><%= cheese.size %></p>
          <p><%= cheese.availability %></p>
        </div>
      <% end %>
    </div>
    <br>
    <% if current_user %>
      <% if (current_user.id == @store.user.id) %>
        <%= link_to 'Edit', edit_store_path(@store) %> |
        <%= link_to 'Add Product', new_cheese_path(:store_id => @store.id) %>
      <% end %>
    <% end %>
  </div>
</div>