<%= form_with(model: cheese, local: true) do |form| %>
  <% if cheese.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cheese.errors.count, "error") %> prohibited this cheese from being saved:</h2>

      <ul>
        <% cheese.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    $<%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :rennet_coagulat, "Animal Rennet", :value => "1"  %>
    <%= form.radio_button :rennet_coagulat, "Animal Rennet", :checked => true  %>
    <%= form.label :rennet_coagulat, "Vegetarian Friendly", :value => "0" %>
    <%= form.radio_button :rennet_coagulat, "Vegetarian Friendly"%>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :cheese_type %>
    <%= form.select :cheese_type, ['Mozzarella', 'Cheddar', 'Emmental', 'Gouda', 'Parmigiano-Reggiano', 'Feta', 'Brie', 'Parmesan', 'Mascarpone', 'Gruyere', 'Blue', 'Ricotta'] %>
  </div>

  <div class="field">
    <%= form.label :rind %>
    <%= form.select :rind, ['No Rind/Waxy Rind', 'Bloomy Rind', 'Washed Rind', 'Natural Rind'] %>
  </div>

  <div class="field">
    <%= form.label :milk %>
    <%= form.select :milk, ['Cow', 'Goat', 'Mixed', 'Sheep', 'Water buffalo', 'Yak', 'Soy', 'Almond', 'Rice'] %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size %>
  </div>

  <div class="field">
    <%= form.label :availability %>
    <%= form.number_field :availability %>
  </div>

  <div>
    <%= form.label :item_picture %>
    <%= form.file_field :item_picture, autocomplete: "item-picture" %>
  </div>

  <div>
    <%= form.hidden_field :store_id, value: @store %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


