<p id="notice"><%= notice %></p>

<h1>Cheeses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Store</th>
      <th>Description</th>
      <th>Price</th>
      <th>Rennet coagulat</th>
      <th>Location</th>
      <th>Cheese type</th>
      <th>Rind</th>
      <th>Milk</th>
      <th>Size</th>
      <th>Availability</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cheeses.each do |cheese| %>
      <tr>
        <td><%= link_to cheese.name, cheese %></td>
        <td><%= link_to @store.find(cheese.store_id).name, store_path(cheese.store_id) %>
        <td><%= cheese.description %></td>
        <td><%= cheese.price %></td>
        <td><%= cheese.rennet_coagulat %></td>
        <td><%= cheese.location %></td>
        <td><%= cheese.cheese_type %></td>
        <td><%= cheese.rind %></td>
        <td><%= cheese.milk %></td>
        <td><%= cheese.size %></td>
        <td><%= cheese.availability %></td>
        <% if can? :edit, Cheese %>
          <td><%= link_to 'Edit', edit_cheese_path(cheese) %></td>
        <% end %>
        <% if can? :destroy, Cheese %>
          <td><%= link_to 'Destroy', cheese, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
