<p id="notice"><%= notice %></p>

<%= image_tag @cheese.item_picture if @cheese.item_picture.attached? %>

<p>
  <strong>Name:</strong>
  <%= @cheese.name %>
</p>

<p>
  <strong>Available At:</strong>
  <% store = @store.find(@cheese.store_id) %>
  <%= link_to store.name, store_path(store.id) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cheese.description %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @cheese.price %>
</p>

<p>
  <strong>Rennet coagulat:</strong>
  <%= @cheese.rennet_coagulat %>
</p>

<p>
  <strong>Location:</strong>
  <%= @cheese.location %>
</p>

<p>
  <strong>Cheese type:</strong>
  <%= @cheese.cheese_type %>
</p>

<p>
  <strong>Rind:</strong>
  <%= @cheese.rind %>
</p>

<p>
  <strong>Milk:</strong>
  <%= @cheese.milk %>
</p>

<p>
  <strong>Size:</strong>
  <%= @cheese.size %>
</p>

<p>
  <strong>Availability:</strong>

<% if current_user %>
  <% if current_user.store.present? %>
    <% if current_user.store.id == @cheese.store_id %>
      <%= @cheese.availability %><br>
      <p>You cannot buy your own items</p>
  <% else %>
    <% if @cheese.availability > 0 %>
      <%= @cheese.availability %><br>
      <% if can? :buy, @cheese and current_user.street_address != "Add Address" %>
        <button data-stripe="payment">
          Buy Now <%= number_to_currency(@cheese.price) %>
        </button>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
          document
          .querySelector("[data-stripe='payment']")
          .addEventListener("click", () => {
          const stripe = Stripe(
          "<%= Rails.application.credentials.dig(:stripe, :public_key) %>");
          stripe.redirectToCheckout({
          sessionId: "<%= @session_id %>"});});
        </script>
      <% elsif can? :buy, @cheese and current_user.street_address == "Add Address" %>
        <p>Please add an address to place an order</p>
      <% else %>
        <p>You must be logged in to place an order</p>
      <% end %>
    <% else %>
      <p>Sold Out</p>
    <% end %>
  <% end %>
<% end %>
<% end %>
<%= @cheese.availability %>
</p>
  <% if can? :edit, @cheese %>
    <%= link_to 'Edit', edit_cheese_path(@cheese) %>
  <% end %>
  <% if can? :destroy, @cheese %>
    | <%= link_to 'Destroy', @cheese, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>