<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<p>
  <strong>Shipping address:</strong>
  <%= @order.shipping_address %>
</p>

<p>
  <strong>Cheese:</strong>
  <%= @order.cheese %>
</p>

<p>
  <strong>Cheese title:</strong>
  <%= @order.cheese_title %>
</p>

<p>
  <strong>Cheese price:</strong>
  <%= @order.cheese_price %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
