<div class="bg4">
</div>

<div class= "orders-styles">
<div class="glitch-small" data-text="My orders"> My Orders </div>
  <% if @orders.size != 0 %>
    <table class="table-striped">
      <thead>
        <tr>
          <th>Timezone</th>
          <th>Date</th>
          <th>Time</th>
          <th>Cheese</th>
          <th>Price</th>
          <th>Shipping address</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.created_at.localtime.strftime('UTC%:z') %></td>
            <td><%= order.created_at.localtime.strftime('%d-%m-%Y') %></td>
            <td><%= order.created_at.localtime.strftime('%H:%M') %></td>
            <td><%= link_to order.cheese_title, cheese_path(order.cheese_id) %></td>
            <td>$<%= order.cheese_price %></td>
            <td><%= order.shipping_address %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</p>
</div>
</div>
