<!DOCTYPE html>
<html>
  <head>
    <title>CheeseBae - The Leading Marketplace Of The Underground Fromage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>



    <h1>CheeseBae</h1>
    <ul class="nav-list">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Explore", explore_path %></li>
      <li><%= link_to "Contact Us", contact_path %></li>
      <% if current_user %>
        <li><%= link_to "Account", account_path %></li>
        <li><%= link_to "Orders", destroy_user_session_path %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign In", new_user_session_path %></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <% end %>
      <% if user_signed_in? %>
        <p>Hi <%= current_user.firstname %>!</p>
        <%= image_tag current_user.profile_picture if current_user.profile_picture.attached? %>
      <% end %>
    </ul>




    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
